@import 'normalize.styl'
gris_osucuro = #4A4949

body

	font-size 16px
	font-family Helvetica
figure
	margin 0
ul 
	margin 0
a
	text-decoration none
	color white		
.header
	background gris_osucuro
	height 450px
	.barra-navegacion
		.menu
			list-style none
			float right
			.item
				float left
				a
					padding 1em

				
	



.categorias
	.ima-cat
		background red
		height 450px
		margin 10px

		
		
